# dependencies
/node_modules

# production
/build

**/*/build

# misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*

**/**/dist/
**/**/node_modules/
.idea

# compiled output
/dist

# Logs
logs
*.log
lerna-debug.log*
